{
    "bracketSpacing": true,
    "singleQuote": true,
    "trailingComma": "all",
    "singleAttributePerLine": true,
    "jsxBracketSameLine": false,
    "printWidth": 100,
    "tabWidth": 4,
    "arrowParens": "avoid"
}
